@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-green200: hsl(148, 38%, 91%);
  --color-green600: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey500: hsl(186, 15%, 59%);
  --color-grey900: hsl(187, 24%, 22%);

  --font-karla: "Karla", sans-serif;
}

/*  Message Sent!
  Thanks for completing the form. We'll be in touch soon! */
